body{
background-color: crimson;
color: whitesmoke;
}
h1{color: blueviolet;}
    p{color: indigo;}

    img{border-radius: 50%;}
    #special{color: #B8860B;}
#special2{color: blueviolet;
background-color: gold;}
